<div class="container d-flex justify-content-center align-items-center h800">
  <div class="col-md-6 col-md-6 border border-primery p-3">
    <h3 class="px-3">SignUp</h3>
    <form class="form-horizontal" [formGroup]="regForm" (submit)="logForm()">
      <div
        class="form-group"
        [ngClass]="{
          'has-error': frm.firstname.touched && frm.firstname.invalid
        }"
      >
        <label for="firstname" class="control-label col-sm-12"
          >Firstname:
        </label>
        <div class="col-sm-12">
          <input
            type="text"
            class="form-control"
            formControlName="firstname"
            id="firstname"
          />
        </div>
        <div
          class="col-sm-12 help-block"
          *ngIf="frm.firstname.touched && frm.firstname.invalid"
        >
          <p>Firstname is required.</p>
        </div>
      </div>
      <div
        class="form-group"
        [ngClass]="{
          'has-error': frm.lastname.touched && frm.lastname.invalid
        }"
      >
        <label for="lastname" class="control-label col-sm-12">Lastname: </label>
        <div class="col-sm-12">
          <input
            type="text"
            class="form-control"
            formControlName="lastname"
            id="lastname"
          />
        </div>
        <div
          class="col-sm-12 help-block"
          *ngIf="frm.lastname.touched && frm.lastname.invalid"
        >
          <p *ngIf="frm.lastname.errors.required">Lastname is required.</p>
          <p *ngIf="frm.lastname.errors.minlength">Min Length Error.</p>
          <p *ngIf="frm.lastname.errors.maxlength">Max Length Error.</p>
        </div>
      </div>
      <div
        class="form-group"
        [ngClass]="{ 'has-error': frm.age.touched && frm.age.invalid }"
      >
        <label for="age" class="control-label col-sm-2">Age: </label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            formControlName="age"
            id="age"
          />
        </div>
        <div
          class="col-sm-4 help-block"
          *ngIf="frm.age.touched && frm.age.invalid"
        >
          <p *ngIf="frm.age.errors.required">Age is required.</p>
          <p *ngIf="frm.age.errors.ageRange">
            Age should be between {{ minAge }} & {{ maxAge }}
          </p>
        </div>
      </div>

      <div
        class="form-group"
        [ngClass]="{
          'has-error': frm.useremail.touched && frm.useremail.invalid
        }"
      >
        <label for="userpwd" class="control-label col-sm-12">Email ID: </label>
        <div class="col-sm-12">
          <input
            type="email"
            class="form-control"
            formControlName="useremail"
            id="useremail"
            required
          />
        </div>
        <div
          class="col-sm-12 help-block"
          *ngIf="frm.useremail.touched && frm.useremail.invalid"
        >
          <p>Email Id is required.</p>
        </div>
      </div>
      <div
        class="form-group"
        [ngClass]="{
          'has-error': frm.userpwd.touched && frm.userpwd.invalid
        }"
      >
        <label for="userpwd" class="control-label col-sm-12">Password: </label>
        <div class="col-sm-12">
          <input
            type="password"
            class="form-control"
            formControlName="userpwd"
            id="userpwd"
          />
        </div>
        <div
          class="col-sm-12 help-block"
          *ngIf="frm.userpwd.touched && frm.userpwd.invalid"
        >
          <p>Password is required.</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="reset" class="btn btn-default float-right">
            Reset
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
